{% extends "reg.html" %}
{% block tittle %}Item{% endblock %}
{% block form %}
  <div class="row">
    <div class="col">
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
    </div>
  </div>
  <div class="row form">
    <div class="col">
      <div class="form-group">
        {{ form.price.label_tag }}
        {{ form.price }}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {{ form.tag_label.label_tag }}
        {{ form.tag_label}}
      </div>
    </div>

  </div>
{% endblock %}