{% extends "reg.html" %}
{% block tittle %}Deliverer{% endblock %}
{% block inputs %}
    <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Name" required="" autofocus="">
    <br>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
           autofocus="">
    <br>
    <input name="email" type="email" class="form-control" placeholder="description" required="" autofocus="">
    <br>
    <input name="numero de cuenta" type="number" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
{% endblock %}