{% extends "reg.html" %}
{% block tittle %}Item{% endblock %}
{% block form %}
  <div class="row">
    <div class="col">
      <div class="form-group">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
    </div>
  </div>
  {% comment %}.row.form-group>(.col>.form-control)*3{% endcomment %}
  <div class="row form">
    <div class="col">
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {{ form.repeat_password.label_tag }}
        {{ form.repeat_password }}
      </div>
    </div>
  </div>
{% endblock %}