{% extends "reg.html" %}
{% block tittle %}Item{% endblock %}
{% block inputs %}
     <br>
    <input name="Name" type="email" class="form-control" placeholder="description" required="" autofocus="">
    <br>
    <input name="Description" type="text" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
    <input name="Price" type="text" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
    <input name="Path" type="text" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
    <input name="tag" type="text" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
    <input name="restaurant" type="text" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
{% endblock %}