{% extends "reg.html" %}
{% block tittle %} Restaurant {% endblock %}
{% block inputs %}
    <br>
    <input name="description" type="text" class="form-control" placeholder="description" required="" autofocus="">
    <br>
    <input name="latitude" type="number" class="form-control" placeholder="latitude" required="" autofocus="">
    <br>
    <input name="longitude" type="number" class="form-control" placeholder="longitude" required="" autofocus="">
    <br>
    <input name="address" type="text" class="form-control" placeholder="address" required="" autofocus="">
    <br>
    <input name="tags" type="text" class="form-control" placeholder="tags" required="" autofocus="">
    <br>
{% endblock %}