
.idea/

authentication/__pycache__/

client/__pycache__/

client/migrations/

core/__pycache__/

core/migrations/

dealer/__pycache__/

dealer/migrations/

IKARI_EATS/__pycache__/

project_test/__pycache__/

restaurant/__pycache__/

restaurant/migrations/
