{% extends "sales.html" %}
{% load static %}
{% block title %}
  ACTIVE order
{% endblock %}
{% block inner-title %}
  Current order!
{% endblock %}
{% block map %}
  <div id="map"></div>
  <span id="time"></span>
{% endblock %}
{% block buttons %}
  <button class="btn btn-danger" id="cancel-solicitude" hidden>Cancelar</button>
{% endblock %}
{% block additional_js %}
  <script>
      var res_lat = {{ order.restaurant.latitude }};
      var res_log = {{ order.restaurant.longitude }};

      var dealer_lat = {{ dealer.latitude }};
      var dealer_log = {{ dealer.longuitude }};
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ&callback=initMap"
          async defer></script>
  {% csrf_token %}
  <script type="text/javascript">
      // using jQuery
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();
  </script>
  <script src="{% static "js/current_order.js" %}"></script>
{% endblock %}
{% block additional_css %}
  <link rel="stylesheet" href="{% static "css/current_order.css" %}">
{% endblock %}