{% extends "logged_base.html" %}
{% load static %}
{% block inner-content %}

    <h1 style="font-family: Roboto">Ordenes esperando por ti</h1>
    {% for order in orders %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Order id : {{ order.id }}</h5>
                        <p class="card-text">Nombre del restaruante : {{ order.name }}</p>
                        <p class="card-text">Direccion del restaurante: {{ order.address }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url "current" order_id=order.id %}" class="btn btn-primary">Accept</a>
                    </div>
                </div>
            </div>
    {% endfor %}

{% endblock %}
{% block additional_js %}
    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ" async
            defer></script>
    <script src="{% static "js/dealer_gps.js" %}"></script>
{% endblock %}