{% extends "logged_base.html" %}
{% load static %}
{% block inner-content %}
    <script>
        var dealer_lat = {{ dealer.latitude }};
        var dealer_log = {{ dealer.longitude }};
        var res_lat = {{restaurant.latitude }};
        var res_log = {{restaurant.longitude }};
        var client_lat = {{ client.latitude }};
        var client_log = {{ client.longitude }};
    </script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
         #map {
            margin: 20px 0;
            padding: 0;
            height: 300px;
            float: left;
            width: 100%;
        }


        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    {% if error %}
        <div class="alert alert-danger" role="alert">
           {{ error_type }}
        </div>
    {% endif %}
   <div class="row" style="height: 10%;">
    </div>
    <div class="row jumbotron ">
        <div class="col" style="margin-left: 5%">
            <div id="map"></div>
        </div>
        <div class="col" style="margin-right: 5%">
            <br>
            <h2><strong>Order Id :</strong> {{ order.id }}</h2>
            {% if order.status == 1 %}
            <div class="alert alert-warning">
                We're looking for the delivery guy closest to the restaurant you chose
            </div>
            {% elif order.status == 2 %}
            <div class="alert alert-success">
               Your order has a delivery person
            </div>
            {% endif %}
            <h3><strong>Item :</strong> {{ item.name }}</h3>
            <h3><strong>Restaurant:</strong> {{ restaurant.name }}</h3>
            <h3><strong>Waiting period:</strong> </h3>

        </div>
        <br>
    </div>
    <br>
{% endblock %}

{% block additional_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ&callback=initMap"
            async defer></script>
    <script src="{% static "js/active_purchase.js" %}"></script>
{% endblock %}