{% extends "logged_base.html" %}
{% load static %}
{% block inner-content %}

    <script>
        {% if dealer.latitude == None %}
            var dealer_lat = {{restaurant.latitude }};
            var dealer_log = {{restaurant.longitude }};
        {% else %}
            var dealer_lat = {{ dealer.latitude }};
            var dealer_log = {{ dealer.longitude }};
        {% endif %}

        var res_lat = {{restaurant.latitude }};
        var res_log = {{restaurant.longitude }};
        var client_lat = {{ client.latitude }};
        var client_log = {{ client.longitude }};
    </script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <div style="height: 20%;">
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Hola el error es:{{ error_type }}
        </div>
    {% endif %}
    <h1> latitud dealer : {{ dealer.latitude }}</h1>
    <h1> latitud restaurant : {{ restaurant.latitude }}</h1>
    <div id="map"></div>
    <div style="height: 20%;"></div>
{% endblock %}

{% block additional_js %}
    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ&callback=initMap"
            async defer></script>
    <script src="{% static "js/active_purchase.js" %}"></script>
{% endblock %}