{% extends "logged_base.html" %}
{% block title %}
    Restaurant Products
{% endblock %}
{% block inner-content %}
    <header class="jumbotron my-4">
        <h1 class="display-3">RESTAURANT NAME</h1>
        <p class="lead">Description.</p>

        <div class="row text-center">
            <table id="restaurant_table">
                <tr>
                    <th>Product name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Options</th>
                </tr>
            </table>

        </div>
        <!-- /.row -->
    </header>
{% endblock %}