{% extends "logged_base.html" %}
{% block title %}
    Restaurant Products
{% endblock %}
{% block inner-content %}
    <header class="jumbotron my-4">
        <h1 class="display-3">{{ restaurant.name }}</h1>
        <p class="lead">Description.</p>

        <div class="row text-center">
            <table id="restaurant_table">
              {% for item in restaurant.items %}
              <tr>
                    <th>{{ item.name }}</th>
                    <th>{{ item.description }}</th>
                    <th>{{ item.price }}</th>
                    <a href="{% url "current" item_id=item.id %}" class="btn btn-primary">Buy</a>
                </tr>
              {% endfor %}
            </table>

        </div>
    </header>
{% endblock %}