{% extends "base.html" %}
{% load static %}
{% block additional_js %}
    <script src="{% static "js/min_heap.js" %}"></script>
    <script>
        var objects = [];
        var object_winner ;
        {% for object_test in group_objects %}
            objects.push({'id': {{ object_test.id }}, 'time': {{ object_test.time }}})
        {% endfor %}
        var queue = new PriorityQueue('time', PriorityQueue.MIN_HEAP);
        for (var i in objects) {
            //
            if (objects.hasOwnProperty(i)) {
                var my_object = objects[i]
                    queue.insert(my_object);
            }
        }
        object_winner = queue.getHighestPriorityElement();
        console.log(object_winner.id)
    </script>
{% endblock %}