{% extends "base.html" %}
{% load static %}
{% block additional_js %}
     <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <h1>mi mapa</h1>
    <div id="map"></div>
    <script>

        var res_lat = {{ restaurant.latitude }};
        var res_log = {{ restaurant.longitude }};

        var dealer_lat = {{ dealer.latitude }};
        var dealer_log = {{ dealer.longitude }};

        var client_lat = {{ client.latitude }};
        var client_log = {{ client.longitude }};
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ&callback=initMap"
            async defer></script>
    <script src="{% static "js/my_map.js" %}"></script>
{% endblock %}