{% extends "logged_base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block inner-content %}
    <h1 class="my-4">{{ title }}</h1>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Python default List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Add</th>
      <td>{{ python_list_insertion }}</td>

    </tr>
    <tr>
      <th scope="row">Delete</th>
      <td>{{python_list_delete}}</td>
    </tr>
     </tbody>
</table>
{% endblock %}