{% extends "logged_base.html" %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Order One</h3>
            <p>Description.</p>
            <label for="sel1">Status:</label>
            <select class="form-control" id="sel1">
                <option>1</option
                <option>4</option>
            </select>
            <a href="#" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    <hr>

{% endblock %}