{% extends "logged_base.html" %}
{% block title %}
    Restaurant
{% endblock %}
{% block inner-content %}
    <header class="jumbotron my-4">
        <h1 class="display-3">{{ restaurant.name }}</h1>
        <p class="lead">Description.</p>
     </header>
        <div class="row text-center">
            {% comment %}
            mandar a geocoder.js el address del restaurante si aun no exite la lat y log del mismo
            esto esta ligado a client/views.py
             {% if restaurant.lat is none and restaurant.log is none %}
            <script>
            var address = restaurant.address;
            </script>
            {% endif %}
            {% endcomment %}
            {% for item in restaurant.items %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url "item" item_id=item.id %}" class="btn btn-primary">{{ item.price }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}