{% extends "logged_base.html" %}
{% load static %}
{% block title %}
    Restaurant
{% endblock %}
{% block inner-content %}
    <header class="jumbotron my-4" style="border-radius: 15%">
        <h1 class="display-3">{{ restaurant.name }}</h1>
        <p>{{ restaurant.description }}</p>
    </header>
    {% if restaurant.lat is none or restaurant.log is none %}
        <script>
            var address = '{{ restaurant.address }}';

        </script>
    {% endif %}
    <div class="container">
        <div class="row text-center">
            {% for item in restaurant.items %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ item.name }}</h4>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Edit</a>
                            <h1>{{ my_var }}</h1>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxIL3Ii8OAx3f8FdtDw5UjW3AM6sYDyQ" async
            defer></script>
    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    </script>
    <script src="{% static "js/geocoder.js" %}"></script>
{% endblock %}